// icons.scss
// Define icon styles here

// base styles

// icon styles
.icon {
    display: inline-block;
    width: rem(24);
    height: rem(24);
    vertical-align: middle;
    fill: currentColor;
}
